<html>
<head>
<title>HeteroDB Software Distribution Center</title>
</head>
<body>
<h1>HeteroDB Software Distribution Center</h1>
<div style="text-align: right; color: #505050; ">
#include "last_update.list"
</div>
<hr>
<h2>yum repository configurations</h2>
#include "rpm_heterodb-swdc.list"

<h2>PG-Strom Source Tarball</h2>
#include "tgz_pg-strom.list"

<hr>
<h2>All RPM Files</h2>
#include "all_rpm_files.list"

<hr>
<div style="text-align: center; color: #505050;">
Copyright &copy; 2017-2021 HeteroDB,Inc. All Rights Reserved.
</div>
</body>
</html>
