#!/bin/sh

# Put your password to sign
PASS="XXXXXXXXXX"

expect -c "
set timeout 5
spawn env LANG=C /usr/bin/rpmsign --resign '$1'
expect \"Enter pass phrase: \"
send \"${PASS}\n\"
expect \"$\"
exit 0
" || exit 1
